$header-color: #310995;
$background-color: #e7e7e7;

.main-header {
  background-color: $header-color;
  justify-content: center;
  color: white;
}

.logo {
  max-width: 300px;
}

.title {
    text-align: center;
}

.description {
  text-align: center;
  display: block;
  padding-bottom: 10px;
  padding-bottom: 2%;
}

input {
  display: block;
}

html, body {
  background-color: $background-color !important;
}

.container {
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

#register {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10%;
  text-align: center;
}

#log_in {
  display: block;
}
